@charset "UTF-8";

/* 공용css */

li{list-style: none; padding-left:0px;}
a{text-decoration: none; color: black;}


/* ---------------------------------------------------------------------------------------------------- */

/* 푸터영역 */
footer{
	position: absolute;
	width : 100%;
	height: 100px;
	background-color: black;
	bottom: -500%;
	border: 5px solid blue;

}
#footer{
	color: white;
}
