@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* .nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
} */
/*  *{  
  font-family: 'Noto Sans KR', sans-serif; 
 }  
 p {
 font-family: 'Hanna', fantasy;
} */

/* ---------------------------------------------------------------------------------------------------- */
/* 공용css */

*{margin: 0;}
ul{list-style: none; padding-left: 0;}
a{text-decoration: none; color: black;}



/* ---------------------------------------------------------------------------------------------------- */
/* 글자  */


/* 로고 글자 */
#logo > h1 {

    font-family: 'EarlyFontDiary';
	 letter-spacing: 1px;
	 color: white;
}


/* 로그인 글자 */
.login > a{
    font-family: 'EarlyFontDiary';
	font-size: 15px;
	font-weight: 300;
		 color: white;
	
}


/* 메뉴바 글자 */
.menu > li{ 
    font-family: 'EarlyFontDiary';
	font-size: 15px;
	font-weight: 300;
		 color: white;
	
}


/* 장바구니 글자 */
#cart > a{
    font-family: 'EarlyFontDiary';
	font-size: 15px;
	font-weight: 300;
		 color: white;
	
}


/* 마이페이지 글자 */
.myPage > li{
    font-family: 'EarlyFontDiary';
	font-size: 15px;
	font-weight: 300;
		 color: white;
	
}



/* ---------------------------------------------------------------------------------------------------- */
/* 헤더 */



/* 로고 */
#logo{	
	display: inline-block;
	border: 1px solid gray; 
	
}

/* 로그인 */
#login{
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 10px
	
}

/* 메뉴 */
#menu{
	border: 1px solid RED; 
	
}


#myPage{
	display: inline-block;
	border: 1px solid blue; 
	padding: 0;

	
	


}	

#cart{
	display: inline-block;
	border: 1px solid yellow; 
	
}




/* ---------------------------------------------------------------------------------------------------- */
/* 마이페이지 드롭다운 메뉴바*/



.myPage > li {/* 메뉴 조작 */
	box-sizing: border-box;
	position:relative;
	border: 1px solid orange; 
	margin: 0;
	

}

.subMyPage {/* 서브 메뉴 조작 */
	position: absolute;
	width: 150px;
	text-align: left;
	top: 30px;
	left : -105px;
	opacity: 0;
	background-color: white;
}

.subMyPage > li {/* 서브 메뉴  */
	width: 100%;
	margin: 7px;
	
	border: 1px solid purple; 

}


.myPage a { /* 서브 메뉴 글자 */
	text-align:left;
}


.myPage > li:hover .subMyPage{
	transition-duration: 0.5s;
	opacity: 1;
}


.myPage a:hover .subMyPage{
	background-color: black;

}


/* ---------------------------------------------------------------------------------------------------- */
/* 메인 드롭 다운 메뉴바 */


.menu { /* 	메뉴바 킅 틀 */
	width: 400px;
}

.menu > li {/* 메뉴 조작 */
	box-sizing: border-box;
	position:relative;
	float: left;
	width: 25%;
	
	border: 1px solid orange; 

	
}

.subMenu {/* 서브 메뉴 조작 */
	position: absolute;
	width: 150px;
	text-align: left;
	top: 30px;
	opacity: 0;
	background-color: white;
}

.subMenu > li {/* 서브 메뉴  */
	width: 100%;
	margin: 7px;
	
	border: 1px solid blue; 

}


.menu a { /* 서브 메뉴 글자 */
	text-align:left;
}


.menu > li:hover .subMenu{
	transition-duration: 0.5s;
	opacity: 1;
}


.menu a:hover .subMenu{
	background-color: gray;

}




/* ---------------------------------------------------------------------------------------------------- */
/*  가로 메뉴바 */

/* .menu { 	메뉴바 킅 틀 딱딱 */
/* 	width: 600px; */
/*  	height: 40px; */
/*  	border: 1px solid black; */
/* } */

/* .menu > li {엄빠 메뉴 조작 */
/* 	box-sizing:border-box; */
/*  	border: 1px solid black; */
 	
/*  	text-align: center; */
/* 	position:relative; */
/* 	float: left; */
/* 	width: 25%; */
	
/* } */

/* .subMenu {새끼 메뉴 조작 */
/* 	box-sizing:border-box; */
/*  	border: 1px solid black; */
/* 	position: absolute; */
/* 	width: 600px; */
/* 	top: 30px; */
/* 	opacity: 0; */
/* } */

/* .subMenu > li{ */
/* 	display: inline; */
/* } */

/* .menu > li:hover .subMenu{ */
/* 	opacity: 1; */
/* } */

/* .menu a { */
/* 	background-color: gray; */
/* } */

/* .menu a:hover { */
/* 	background-color: green; */

/* } */

/* ---------------------------------------------------------------------------------------------------- */
/* 로고 */




	
	