@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 한림예고 */
@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* .nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
} */
/*  *{  
  font-family: 'Noto Sans KR', sans-serif; 
 }  
 p {
 font-family: 'Hanna', fantasy;
} */

/* ---------------------------------------------------------------------------------------------------- */
/* 공용css */

*{margin: 0; padding: 0;}
ul{list-style: none; padding-left: 0;}
a{text-decoration: none; color:black;}



/* ---------------------------------------------------------------------------------------------------- */
/* 글자  */


/* 로고 글자 */
#logo > a {
     font-family: 'GangwonEduPowerExtraBoldA';
	 letter-spacing: 1px;
	 font-size: 50px;
	 color: white;
	 
}



/* 로그인 글자 */
.login > a{
    font-family: 'HallymGothic-Regular';
	font-size: 15px;
	font-weight: 300;
	color: white;
}


/* 장바구니 글자, 마이페이지 */
#cart > a, .myPage > li a {
    font-family: 'HallymGothic-Regular';
	font-size: 15px;
	font-weight: 300;
	color: white;
	height: 24px;
	line-height: 24px;
	display: inline-block;	
	margin: 13px 10px 0px 0px;

	
}


/* 메뉴바 글자 */
.menu > li > a{ 
    font-family: 'HallymGothic-Regular';
	font-size: 15px;
	font-weight: 300;
	color: white;
	
}

.subMyPage > li > a{
	color: black;
}

/* 기능 매뉴 */
#header1{
	box-sizing: border-box;
	padding: 20px;
}

/* ---------------------------------------------------------------------------------------------------- */
/* 헤더 */

#main_logo{
	width: 150px;
	height: 100px;
	margin: -65px -45px -30px -30px;
}

/* 로고 */
#logo{	
	display: inline-block;
	margin: 30px 10px 10px 10px;
	
}


/* 로그인 */
#login{
	display: inline-block;
	position: absolute;
	right: 80px;
	top: 45px
	
}


/* 장바구니 글자, 마이페이지 */
#myPage, #cart {box-sizing:border-box;
	display: inline-block;
   	vertical-align: top;
   	margin:-10px 20px 0px 0px;

}	



/* ---------------------------------------------------------------------------------------------------- */
/* 마이페이지 드롭다운 메뉴바*/


/* 메뉴 조작 */
.myPage > li {
	box-sizing: border-box;
	position:relative;
	margin: 0;
	

}

.myPage  > li > a{
	padding-bottom: 20px;
}


/* 서브 메뉴 조작 */
.subMyPage {
	width: 150px;
	text-align: left;
	display: none;	
	background-color: white;
	position: absolute;
	left: -110px;
	top: 39px;
	overflow: hidden;
	opacity: 0;
	border-radius: 3px;
	
}



/* 서브 메뉴  */
.subMyPage > li > a{
	width: 100%;
	padding: 12px 7px 12px 7px;
}


 /* 서브 메뉴 글자 */
.subMyPage a {
	text-align:left;

}


.myPage > li:hover .subMyPage{
	display: block;
	opacity: 1;
	transition-duration: 0.5s;
}

 	
.subMyPage a:hover {
	background-color: #dcdcdc;
	transition-duration: 0.1s;
}



/* ---------------------------------------------------------------------------------------------------- */
/* 메인 드롭 다운 메뉴바 */


.menu { /* 	메뉴바 킅 틀 */
	margin : 20px;
	width: 400px;
}


.menu > li {/* 메뉴 조작 */
	box-sizing: border-box;
	position:relative;
	float: left;
	width: 25%;

}


.menu > li > a{
	padding-bottom: 20px;
}

.subMenu {/* 서브 메뉴 조작 */
	position:absolute;
	top:39px;
	width: 150px;
	text-align: left;
	display: none;	
	background-color: white;
	overflow: hidden;
	opacity: 0;
	border-radius: 3px;
	
}

.subMenu > li > a{/* 서브 메뉴  */
	width: 100%;
	padding: 12px 7px 12px 7px;
}


.menu a { /* 서브 메뉴 글자 */
	text-align:left;
}



.menu > li:hover .subMenu{
	display: block;
	transition-duration: 0.5s;
	opacity: 1;
}


 .subMenu a  {
 	display: block;
 	width: 100%;
 	height: 100%;  
 	transition-duration: 0.5s;
 	
}
 	
.subMenu a:hover {
	background-color: #dcdcdc;
	transition-duration: 0.5s;
	
}

