@charset "UTF-8";

body{
	margin:0; 
	padding-top: 95px;
	box-sizing:border-box;
	align-content: center;
	width: 100%;
	background: whitesmoke;
    display: table-cell;
}

/* 헤더영역 */
header{
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	padding: 30px;
	width: 100%;
	height: 200px;
}

header #logo{
	position: absolute;
	top: 20px;
	left: 30px;
}

header #font_img_holder{
	position: absolute;
	top: 20px;
	right: 30px;
}


/* 로그인 */
header div{
	float: left;
	
}

header .login{
	position: absolute;
	top: 80px;
	right: 90px;
	font-size: 15px;
	word-spacing: 5px;
	cursor: pointer;
}

.login a{
	text-decoration-line: none;
}

.dropbtn {
  padding: px;
  font-size: 15px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


/* 가로 메뉴바 */
header #menu{
	position: absolute;
	top: 100px;
	/*background: #fcc; */
	cursor: pointer;
	flex-direction: row;
}

#menu a{
	text-decoration-line: none;
	color: black;
}

.main1{
	width: 600px;
	height: 100%;
	margin: 0 auto;
	list-style: none;
	font-weight: bold;
}

.main1>li{
	float: left;
	width: 25%;
	line-height: 50px;
	text-align: center;
	position: relative;
}

.main1>li:hover .main2{
	left: 0;
	
}

.main>li a{
	display: inline-block;
}

main1>li a:hover{
	color: #fff;
	font-weight: bold;
}

.main2{
	position: absolute;
	top:50px;
	left: -9999px;
	width: 120%;
	list-style: none;
	display: block;
}

.main2>li{
	position: relative; 
	background-color: #f1f1f1;
}



/* 푸터영역 */
footer {
	position: fixed;
	width: 100%;
	height: 80px;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: white;
	background-position: 40px center;
	font-size: 0.75em;
}

footer hr{
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
}
footer #copy{
	width: 450px;
	margin: 50 0 50 0px;
	float: left;
}
footer #social{
	width: 130px;
	margin: 20px 20px 0 0;
	margin-top: 30px;
	float: right;
}
footer #social img{
	margin: 0 7px;
}