@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}

header{
	padding: 30px;
	width: 100%;
	height: 50px;
}

header #logo{
	position: absolute;
	top: 30px;
	left: 30px;
}

header #font_img_holder{
	position: absolute;
	top: 50px;
	right: 30px;
}

/* 로그인 */
header .login{
	position: absolute;
	top: 20px;
	right: 50px;
	padding: 3px;
	font-size: 15px;
	word-spacing: 5px;
	cursor: pointer;
}

.dropdown{
	list-style-type: none;
}

/* 메뉴바 */
nav ul{
	text-align: center;
	width: 100%;
/*	background-color: skyblue; */
	list-style-type: none;
	margin: 0;
	padding: 0px;
	font-weight:bold;
	font-size: 16px;
	position: absolute;
	top: 100px;
}

nav ul li{
	padding: 14px 16px;
	display: inline-block;
}

.dropdown{position: relative;
}

.dropdown-menu{
	font-weight:bold;
	padding: 20px; 
	cursor: pointer;
	word-spacing: 10px;
}

.dropdown-content{
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.inline{
	display: inline-block;
}

.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content {
    display: none;
}

.dropdown-menu:hover:not(.home){
    background-color: darkorange;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

/* 콘텐츠 영역*/


.container > img{
	background-image: "img/campaign.png";
	background-position: center;
	/*position: absolute;
	margin-top: 50px;
	width: 90%;
	transform: transltate(-50%, -50%);*/
}




/* 푸터영역 */
footer{
	position:relative; bottom:0;
  	width:100%;
   	height:60px; 
	margin: 50px 0 0 0; 
	height: 80px;
	background-color: white;
	background-position: 40px center;
	font-size: 0.75em; 
}

footer hr{
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
}
footer #copy{
	width: 450px;
	margin: 50 0 50 0px;
	float: left;
}
footer #social{
	width: 130px;
	margin: 20px 20px 0 0;
	margin-top: 30px;
	float: right;
}
footer #social img{
	margin: 0 7px;
}