@charset "UTF-8";


/* 한림예고 */
@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


/* 공용css */

*{margin: 0; padding: 0; font-family: 'HallymGothic-Regular';}
li{list-style: none; padding-left:0px;}
a{text-decoration: none; color: black;}


/* ---------------------------------------------------------------------------------------------------- */


/* 선 */
hr{
	color: gray; opacity: 100%;  width: 100%;
}

#main{
	
/* 	border: 5px solid red; */
	box-sizing: border-box;
	padding: 50px;
}

/* ---------------------------------------------------------------------------------------------------- */
/* 장바구니 */
#my_title{
/* 	border: 5px solid orange; */
	box-sizing: border-box;
	float: left;
	width: 70%;
}

#listDiv{
/* 	border: 5px solid orange; */
	box-sizing: border-box;
	float: left;
	width: 70%;
	
}


.my_check{
/* 	border: 5px solid purple; */
	margin: 15px;
	float: left;
	width: 5%;
	box-sizing: border-box;
}

/* 사진  */
.my_img{
/* 	border: 5px solid red; */
	margin: 15px;
	float: left;
	width: 40%;
	overflow: hidden;
	box-sizing: border-box;
	
}


/* 제목  */
.my_subject{
/* 	border: 5px solid orange; */
	margin: 15px;
	float: left;
	width: 10%;
	box-sizing: border-box;

}



/* 수량  */
.my_button{
/* 	border: 5px solid green; */
	margin: 15px;
	float: left;
	width: 15%;
	box-sizing: border-box;
	
}



/* 가격  */
.my_price{
/* 	border: 5px solid blue; */
	margin: 15px;
	float: left;
	width: 10%;
	box-sizing: border-box;
	
}


#orderDiv{
	padding: 50px 20px 50px 20px;
	border: 1px solid gray;
	box-sizing: border-box;
	float: right;
	width: 250px;
	margin: 30px;
}


#my_order_button1{
	text-align: center;
	width: 190px;
	height: 42px;
}

#my_order_button2{
	text-align: center;
	width: 210px;
	height: 50px;
	margin-top: 20px;
}

.orderSpan{
	margin: 20px;
	position: relative;
	top: 10px;
}

.orderSpan4{
	margin: 40px 20px 20px 20px;
	position: relative;
	top: 10px;
}


.my_back{
	background-color: #dcdcdc;
	border-radius: 3px;
	width: 210px;
	height: 220px;

}

/* ---------------------------------------------------------------------------------------------------- */
/* 회원 정보 수정 */

#mem_main{
/* 	border: 5px solid red; */
	position: relative;
	width: 70%;
	height: 600px;
	margin: 0 auto;
}

#mem_contnet{
/* 	border: 5px solid orange; */
	text-align: center;
}


/* 확인버튼 */
#checkPass{
	width: 250px;
	height: 50px;
	border-radius: 3px;
}

#input_from{
/* 	border: 5px solid blue; */

}

/* 글자 */
.input_sub{
/* 	border: 5px solid green; */
	width: 100px;
	display: inline-block;
	height: 40px
	
}

/* 인풋 창 */
.mem_input{
	margin: 20px;
	border-radius: 3px;
	width: 250px;
	height: 40px
}

/* 글자 마진 */
.text_div{
	margin: 30px;
}

/* 트루에 폼 버튼 */
.mem_button{
	width: 110px;
	height: 50px;
	border-radius: 3px;
}



