@charset "UTF-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

.qna_category {
	background-color: white;
	margin-top: 0px;
	width: 100%;
	line-height: 10px;
	font-size: 18px;
	text-align: center;
}

.qna_category .click {
	text-align: center;
	display: inline-block;
	padding: 0px 20px 0px 20px; 
	margin: 15px 0px 15px 0px;
	margin-left: 50px;
}

a {
	text-decoration: none;
}

ul, li, p { 
	list-style:none; 
	padding:0; 
	margin:0; 
}

h3 {
	text-align: center;
}

.listWrap { 
	font-family:'Noto Sans KR', sans-serif; 
	margin-bottom:20px; 
}

.listWrap .qa_li { 
	position:relative;
	display:block; 
	padding:0; 
	border-bottom:1px solid #ededed; 
	cursor:pointer; 
}

.listWrap .qa_li:first-child { 
	border-top:1px solid #a6a6a6; 
}

.listWrap .qa_li .ca_name { 
	margin-bottom:14px; 
	font-weight:400; 
	color:#999; 
	font-size:18px; 
}

.listWrap .qa_li .tit { 
	color:#222; 
	font-size:24px; 
	transition:color 0.3s ease-out; 
}

.listWrap .qa_li:hover .tit { 
	color:#0a7ac8; 
}

.qa_li .question { 
	position:relative; 
	display:block; 
	padding:25px 100px 25px 120px; 
	background:url('https://happyjung.diskn.com/data/lecture/icon_jquery_faq2_icon_q.png') 40px center no-repeat; 
}

.qa_li .question .iconDiv { 
	position:absolute; 
	right:40px; 
	top:50%; 
	-webkit-transform:translateY(-50%); 
	-moz-transform:translateY(-50%); 
	-o-transform:translateY(-50%); 
	-ms-transform:translateY(-50%); 
	transform:translateY(-50%); 
}

.qa_li .answer { 
	position:relative; 
	display:none; 
	padding:40px 120px; 
	font-size:16px; 
	color:#222; 
	line-height:28px; 
	background:#f6f6f6 url('https://happyjung.diskn.com/data/lecture/icon_jquery_faq2_icon_a.png') 40px 40px no-repeat; 
	border-top:1px solid #e4e4e4; 
}

.modA { 
	position:absolute; 
	right:30px; 
	bottom:30px; 
	color:#e82b2b; 
}

/* 수정, 삭제 버튼 */
#deleteBtn #modifyBtn{
	float: right;
}

/* 글쓰기 버튼*/
#pencil{
   width:80px;
   height:80px;
   color:#fff;
   background: #0080ff ;
   font-size: 16px;
   border:none;
   border-radius: 70px;
   transition:0.3s;
   transform: translate(-50%,-50%);
   float: right;
}

#pencil:focus {
   outline:0;
}

#pencil:hover{
   background: #7fd49b ;
   cursor: pointer;
}