@charset "UTF-8";

/* 한림예고 */
@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* ---------------------------------------------------------------------------------------------------- */
/* 공용css */

*{	margin: 0; 
	padding: 0; 	
	font-family: 'HallymGothic-Regular';
	font-size: 15px;
	font-weight: 300;}
ul{list-style: none; padding-left: 0;}
a{text-decoration: none; color: black;}


body{
	height: 100%;
}


.main {
/* 	border: 5px solid green; */
	position:relative;
	width: 80%;
	margin: 0 auto;
	
}


/* ---------------------------------------------------------------------------------------------------- */
/* 메인  */

.list {
/* 	border: 5px solid red; */
	position :relative;
	box-sizing:border-box;
	width: 25%;
	height: 380px;
	margin: 20px auto;
	float: left;
/* 	overflow: hidden; */
	padding: 15px;
}


/* 사진 크기 */
.img{
/* 	border: 5px solid blue; */
	display:block;
	width:100%;
    height:300px;
    object-fit:cover;
	box-sizing:border-box;
	border-radius: 7px;
}

.page{
	clear: both;
}

.list_subject{
	margin-top: 8px
}

/* 태그 */
.main_tag {
	margin-top: 100px;
}

/* ---------------------------------------------------------------------------------------------------- */
/* 디테일  */
	
/* 총 상품금액 문구 위치 */
.qn_price{
	margin-top: 9px;
}

.main1{
/* 	border: 5px solid green; */
	position:relative;
	width: 60%;
	margin: 0 auto;
	
	
	/* 푸터의 높이 */
  	padding: 30px;
}


/* 썸네일 */
#sto_thumbnai{
/* 	border: 5px solid green; */
	box-sizing: border-box;
	width:55%;
	height:450px;
	display:block;
	margin-bottom: 30px;
	float: left;
}


/* 썸네일 옆 컨텐츠들 */
#content{
/* 	border: 5px solid blue; */
	box-sizing: border-box;
	display:block;
	margin-left: 10px;
	width: 40%;
	height:450px;
	float: right;
}


/* 제목 */
.sto_subject{
/* 	border: 5px solid red; */
	text-align: left;
	font-size: 40px;
}

/* 글자 사이즈 */
.sto_subject, #dDay > span, #goalPrice > span, #progressBar{
	font-size: 30px;	
}


/* 썸네일 옆 컨텐츠들 간격 */
table {
  border-collapse: separate;
  border-spacing: 0 20px;
}


/* 상세 페이지 */
#sto_original{
	
/* 	border: 5px solid green; */
	display:block;
	width: 100%;
	height:auto;
	margin: 0 auto;
}


#qna{
/* 	border: 5px solid green; */
	text-align: center;
	clear: both;	
}

.rq_st {
	cursor: pointer;
	font-size: 18px;
}


hr{
	color: gray; opacity: 100%;  width: 100%;
}

/* 태그 */
.sto_tag {
	background-color: #00A5FF;
	color: white;
	padding: 5px 10px 5px 10px;
	border-radius: 4px;
	font-size: 12px;
}

/* 버튼 - 구매하기, 위시리스트, 장바구니 담기 */
.sto_flex{
	display: flex;
	height: auto;
}

.sto_od{
	margin-top:20px;
	flex:3;
	background-color: rgba(0,0,0,0);
	border:1px solid lightgray;
	border-radius: 2px;
	color: black;
	transition:0.3s;
	font-size: 16px;
	height: 46px;
}

.sto_od:not(:last-child){
	margin-right: 10px;
}
.sto_od:first-child{
	background: #c5e096;
	color:  white;
}

.sto_od:focus {
   outline:0;
}
.sto_od:hover{
   cursor: pointer;
   border:1px solid black;
}

/* ---------------------------------------------------------------------------------------------------- */
/* 스토어 후기  */

/* 스토어 후기 타이틀  */
.r_sto_title{
	float: left;
	margin: 15px;
}


/* 후기 작성 버튼  */
.r_sto_title_button{
	float: right;
	margin-right: 10px;
	margin: 15px;
}

#review_btn {
	display: flex;
	height: auto;
}

#review_btn{
/* 	margin-top:4px; */
	padding-left: 17px;
	padding-top: 9px;
	flex:3;
	background-color: rgba(0,0,0,0);
	border:1px solid lightgray;
	border-radius: 2px;
	color: black;
	transition:0.3s;
	font-size: 14px;
	height: 40px;
	width: 120px;
}

#review_btn:first-child{
	background: #1a82bb;
	color: white;
}

#review_btn:focus {
   outline:0;
}
#review_btn:hover{
   cursor: pointer;
   border:1px solid black;
}

/* 제목  */
.r_sto_subject{
/* 	border: 5px solid red; */
	margin: 15px;
	float: left;
	width: 15%;
}

/* 후기글 내용  */
.r_sto_content{
/* 	border: 5px solid blue; */
	margin: 15px;
	float: left;
	width: 35%;
}


/* 작성자  */
.r_sto_name{
/* 	border: 5px solid orange; */
	margin: 15px;
	float: left;
	width: 15%;

}

/* 별점 출력 값 숨김 처리 */
.score{
	visibility: hidden;	
}


/* 작성일  */
.r_sto_date{
/* 	border: 5px solid green; */
	margin: 15px;
	float: left;
	width: 15%;
}

.r_sto_img{
/* 	border: 5px solid orange; */
	display:block;
	width:100%;
    height:100px;
    object-fit:cover;
	box-sizing:border-box;
	border-radius: 7px;
}

.str_reivew_d {
	width:100%;
    height:100px;
}

.sto_rev_im {
	display:block;
	width:100%;
    height:100px;
    object-fit:cover;
	box-sizing:border-box;
	border-radius: 7px;
}

#sto_img {
	
}






