@charset "UTF-8";

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------------------------------------- */
/* 공용css */

*{	margin: 0; 
	padding: 0; 	
	font-family: 'EarlyFontDiary';
	font-size: 15px;
	font-weight: 300;}
ul{list-style: none; padding-left: 0;}
a{text-decoration: none; color: black;}


body{
	height: 100px;
}


.main {
	position:relative;
	border: 5px solid blue;
	width: 60%;
	margin: 0 auto;
	
	
	/* 푸터의 높이 */
  	padding: 30px;
	
}


/* ---------------------------------------------------------------------------------------------------- */
/* 메인  */


.list {
	position :relative;
	box-sizing:border-box;
	border: 5px solid red;
	width: 33%;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
	float: left;
}

.img{
	display:block;
	width:100%;
	box-sizing:border-box;
	border: 5px solid green;
	height: 250px;
	margin: 0 auto;
}


/* ---------------------------------------------------------------------------------------------------- */
/* 디테일  */

#sup_thumbnai{
	
	border: 5px solid green;
	display:block;
	width:45%;
	height:350px;
	float: left;
	margin-bottom: 30px;
	
}

#content{
	
	border: 5px solid red;
	position: relative;
	
}

#sup_subject{
	
}


#sup_original{
	
	border: 5px solid green;
	display:block;
	width: 100%;
	height:auto;
	margin: 0 auto;
}

.content{
	clear: both;
}




