@charset "UTF-8";

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* ---------------------------------------------------------------------------------------------------- */
/* 공용css */

*{	margin: 0; 
	padding: 0; 	
    font-family: 'HallymGothic-Regular';
	font-size: 15px;
	font-weight: 300;}
ul{list-style: none; padding-left: 0;}
a{text-decoration: none; color: black;}


body{
	height: 100%;
}


.main {
/* 	border: 5px solid red; */
	position:relative;
	width: 60%;
	margin: 0 auto;
	
	
}


/* ---------------------------------------------------------------------------------------------------- */
/* 후원 리스트  */


/* 리스트 */
.list {
/* 	border: 5px solid orange; */
	position :relative;
	box-sizing:border-box;
	width: 30%;
	height: 330px;
	margin: 0 auto;
	float: left;
	overflow:hidden;
	padding: 18px;

}


/* 사진 크기 */
.img{
/* 	border: 5px solid yellow; */
	display:block;
	width:100%;
    height:180px;
    object-fit:cover;
	box-sizing:border-box;
	border-radius: 4px;
}

.bar{
/* 	border: 5px solid green; */
}

.sup_thum_div{
/* 	border: 1px solid red; */
	box-sizing: border-box;
	margin: 5px;
	padding: 5px;
}

.sup_sub_div{
/* 	border: 1px solid orange; */
	box-sizing: border-box;
	margin: 5px;
	height: 50px;
	
}

.sup_per_div{
/* 	border: 1px solid green; */
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	
}


.sup_main_font{
	font-weight: 700;
	font-size: 17px;
}

/* .sup_sub_font{ */
/* 	font-weight: 700; */
/* 	font-size: 12px; */
/* 	color: gray;  */
/* } */

/* ---------------------------------------------------------------------------------------------------- */
/* 후원 디테일  */

/* 썸네일 */
#sup_thumbnai{
/* 	border: 5px solid red; */
	box-sizing: border-box;
	width:60%;
	height:450px;
	display:block;
	margin-bottom: 30px;
	float: left;
	padding: 20px 0px 30px 30px;
}


/* 썸네일 옆 컨텐츠들 */
#content{
/* 	border: 5px solid green; */
	box-sizing: border-box;
	display:block;
	margin-left: 10px;
	width: 35%;
	height:450px;
	float: right;
	padding: 20px 30px 40px 0px;
}


/* 제목 */
.sup_subject{
/* 	border: 5px solid orange; */
	text-align: center;
	font-size: 40px;
	font-weight: 700;
}


/* 글자 사이즈 */
.sup_subject, #dDay > span, #goalPrice > span, #progressBar{
	font-size: 30px;	
}


.sup_con_div{
	margin: 15px;
}


.butten {
	text-align: center;
	width: 40px;
	height: 25px;
	border-top:  50px solid #fff;
}


/* 상세 페이지 */
#sup_original{
/* 	border: 5px solid blue; */
	display:block;
	width: 100%;
	height:auto;
	margin: 0 auto;
	padding: 30px;
}


/* 한줄 설명 */
.content{
/* 	border: 5px solid purple; */
	clear: both;
	margin: 10px 10px 10px 30px;
	width: 50%;
	box-sizing: border-box;
}

.sup_button{
	width: 300px;
	text-align: center;
	height: 50px;
	margin: 15px;
	  color: gray; 
	background-color: #7fd49b;
	border:1px solid lightgray;
    border-radius: 2px;
}
.sup_button:focus {
   outline:0;
}
.sup_button:hover{
   color:black;
   cursor: pointer;
   border:1px solid black;
}

/* ---------------------------------------------------------------------------------------------------- */
/* 후원 기브머니  */

/* 메인 */
.gm_main_div{
	position: relative;
/* 	border: 5px solid red;  */
	padding: 10px 30px 30px 30px;
	margin: 20px auto;
}

/* 메인글자 */
.gm_main_text1{
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	margin: 25px;
}

/* 서브글자 */
.gm_main_text2{
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin: 25px;
	
}

/* 서브 작은글자 */
.gm_main_text3{
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: gray;
	text-align: center;
	margin: 25px;
}


/* 버튼, 글자 후원금 입력 폼 */
.gm_money{
/* 	border: 5px solid orange;  */
	width: 45%;
	float: left;
	margin: 20px 0px 20px 120px;
	box-sizing: border-box;
	
}

/* 글자 입력폼 */
.gm_text_money{
	width: 300px;
	height: 50px;
	margin-bottom: 20px;
/* 	border: 5px solid blue;  */
}

/* 버튼 입력폼 */
#button_money_10000, #button_money_20000, #button_money_30000 {
	width: 110px;
	height: 60px;
	margin: 0 auto;
 	text-align: center;
	color: gray; 
	background-color: #7fd49b;
	border:1px solid lightgray;
    border-radius: 2px;
    box-sizing: border-box;
}


#button_money_10000:focus {
   outline:0;
}

#button_money_10000:hover{
   color:black;
   cursor: pointer;
   border:1px solid black;
}


#button_money_20000:focus {
   outline:0;
}

#button_money_20000:hover{
   color:black;
   cursor: pointer;
   border:1px solid black;
}


#button_money_30000:focus {
   outline:0;
}

#button_money_30000:hover{
   color:black;
   cursor: pointer;
   border:1px solid black;
}


/* 후원 하기 폼 */
.gm_order_money{
/* 	border: 5px solid green; */
	width: 28%;
	float: right;
	margin: 20px 120px 20px 0px;

}

#donate{
	position: relative;
	left: 40px;
}