@charset "UTF-8";

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------------------------------------- */
/* 공용css */

*{	margin: 0; 
	padding: 0; 	
	font-family: 'EarlyFontDiary';
	font-size: 15px;
	font-weight: 300;}
ul{list-style: none; padding-left: 0;}
a{text-decoration: none; color: black;}


body{
	height: 100%;
}


.main {
	position:relative;
	border: 5px solid gre;
	width: 60%;
	margin: 0 auto;
	
	
	/* 푸터의 높이 */
  	padding: 30px;
	
}


/* ---------------------------------------------------------------------------------------------------- */
/* 메인  */


.list {
	position :relative;
	box-sizing:border-box;
	border: 5px solid red;
	width: 33%;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
	float: left;
}

.img{
	display:block;
	width:100%;
	box-sizing:border-box;
	border: 5px solid green;
	height: 250px;
	margin: 0 auto;
}


/* ---------------------------------------------------------------------------------------------------- */
/* 디테일  */

/* 썸네일 */
#sup_thumbnai{
	box-sizing: border-box;
	width:55%;
	height:450px;
	display:block;
	border: 5px solid green;
	margin-bottom: 30px;
	float: left;
}


/* 썸네일 옆 컨텐츠들 */
#content{
	box-sizing: border-box;
	display:block;
	border: 5px solid blue;
	margin-left: 10px;
	width: 40%;
	height:450px;
	float: right;
}


/* 제목 */
.sup_subject{
	border: 5px solid red;
	text-align: center;
	font-size: 40px;
}

/* 글자 사이즈 */
.sup_subject, #dDay > span, #goalPrice > span, #progressBar{
	font-size: 30px;	
}


/* 썸네일 옆 컨텐츠들 간격 */
table {
  border-collapse: separate;
  border-spacing: 0 20px;
}

.butten {
	text-align: center;
	width: 40px;
	height: 25px;
	border-top:  50px solid #fff;
}

/* 상세 페이지 */
#sup_original{
	
	border: 5px solid green;
	display:block;
	width: 100%;
	height:auto;
	margin: 0 auto;
}

.content{
	clear: both;
}




